* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 24px;
    color: #ff9600;
    text-transform: uppercase;
}

.listorder {
    display: block;
    overflow: visible;
    background: #fff;
    clear: both;
    padding-top: 10px;
}

.listorder li {
    display: block;
    overflow: visible;
    border-bottom: 1px solid #f5f5f5;
    margin: 10px 30px;
    padding-bottom: 10px;
    min-height: 145px;
}

.listorder li .colinfo {
    display: inline-block;
    overflow: visible;
    width: 88%;
    padding-left: 5px;
}

.listorder li .colinfo > a {
    font-weight: bold;
}

.listorder li .colinfo a {
    display: inline-block;
    font-size: 14px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 62%;
}

.listorder li .colinfo strong {
    font-weight: normal;
    font-size: 14px;
    color: #c10017;
    float: right;
}

.listorder {
    display: block;
    overflow: visible;
    background: #fff;
    clear: both;
    padding-top: 10px;
}

img {
    border: 0;
}

.listorder li img {
    display: inline-block;
    width: 55px;
    margin: 0px 4px 10px;
}

.listorder li .promotion span {
    display: block;
    overflow: hidden;
    padding-left: 10px;
    color: #333;
    margin-bottom: 5px;
    font-size: 12px;
}

.choosecolor {
    float: left;
    position: relative;
    border: 1px solid #dfdfdf;
    background: #fff;
    border-radius: 3px;
    line-height: 32px;
    font-size: 14px;
    color: #288ad6;
}

.choosecolor span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 91%;
    cursor: pointer;
}

.choosenumber {
    float: right;
    overflow: hidden;
    position: relative;
    width: 25%;
    border: 1px solid #dfdfdf;
    background: #fff;
    border-radius: 3px;
    line-height: 32px;
    font-size: 14px;
    color: #333;
    margin: 5px 0 5px 0;
}

.listorder li .colimg {
    float: left;
    overflow: hidden;
    width: 12%;
}

.listorder li .colimg {
    text-align: center;
}

.listorder li .colimg button {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #999;
    width: 40px;
    border: 0;
    background: #fff;
    margin: auto;
    cursor: pointer;
}

.listorder li .promotion span:before {
    content: '•';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 20px;
    color: #999;
    margin: 0 3px 0 -10px;
}

.notemoreproduct {
    cursor: pointer;
    position: relative;
}

.augment:after {
    content: '';
    width: 2px;
    height: 12px;
    background: #288ad6;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.listorder li:last-child {
    margin-bottom: 0;
}
ul, ol {
    list-style: none;
}

.choosecolor:after {
    content: '';
    width: 0;
    right: 0;
    border-top: 10px solid #288ad6;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 13px 5px 0 0;
    float: right;
    position: absolute;
    top: 0;
}

.listorder li .colimg button span {
    float: left;
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 10px;
    position: relative;
    margin-top: 3px;
}

img {
    border: 0;
}

.listorder li .listcolor img {
    width: 30px;
    height: auto;
    margin: 0 0 0 -4px;
    display: inline-block;
    vertical-align: middle;
}

.listorder li .listcolor a {
    width: auto;
    margin: 0;
    overflow: visible;
    padding: 7px 0 10px 0;
    display: block;
    height: 30px;
    color: #288ad6;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    white-space: nowrap;
}

.listcolor {
    display: none;
    overflow: visible;
    position: absolute;
    top: 36px;
    min-width: 130px;
    left: 0;
    z-index: 9;
    background: #fff;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0 10px;
    -moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
}

.listorder li .colinfo a {
    display: inline-block;
    font-size: 14px;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 62%;
}

.listorder li a {
    display: block;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.number {
    font-size: 14px;
    color: #333;
    float: left;
    width: 36%;
    height: 32px;
    text-align: center;
    border: 1px solid #dfdfdf;
}

.augment {
    float: right;
    border-left: 1px solid #dfdfdf;
    background: #fff;
    width: 32%;
    height: 32px;
    position: relative;
    cursor: pointer;
}

.area_total {
    display: block;
    overflow: hidden;
    padding: 10px 30px 10px;
    border-bottom: 1px solid #d8d8d8;
    background: #fff;
}

.area_total div span {
    float: left;
}

.area_total div.total b {
    float: left;
}

.area_total div span:nth-child(2) {
    float: right;
}

.area_total div span {
    float: left;
}

.area_total div {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    line-height: 22px;
}

.area_total div.total strong {
    float: right;
    font-size: 16px;
    color: #c10017;
}

.abate {
    float: left;
    border-right: 1px solid #dfdfdf;
    background: #fff;
    width: 32%;
    height: 32px;
    position: relative;
    cursor: pointer;
    /*pointer-events: none;*/
}

.abate:before {
    content: '';
    width: 12px;
    height: 2px;
    background: #ccc;
    display: block;
    margin: 15px auto;
}

.augment:before {
    content: '';
    width: 12px;
    height: 2px;
    background: #288ad6;
    display: block;
    margin: 15px auto;
}

.augment:after {
    content: '';
    width: 2px;
    height: 12px;
    background: #288ad6;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.infouser {
    display: block;
    overflow: hidden;
    background: #fff;
    padding: 0 30px;
}

.icontgdd-opt, .iconmobile-opt {
    background-position: -380px -30px;
    width: 16px;
    height: 16px;
    vertical-align: sub;
}

.malefemale {
    display: block;
    overflow: hidden;
    padding: 20px 0 0;
    background: #fff;
}

.malefemale label {
    float: left;
    margin-right: 30px;
    cursor: pointer;
}

.areainfo {
    display: block;
    padding: 0;
}

.areainfo input {
    display: block;
    padding: 9px 0;
    height: 40px;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 0 5px;
    text-indent: 10px;
    width: 99.6%;
}

.areainfo .left {
    float: left;
    width: 49%;
    margin-bottom: 5px;
}

.areainfo .right {
    float: right;
    width: 49%;
    margin-bottom: 5px;
}

.area_other {
    display: block;
    overflow: visible;
    padding: 5px 30px 0;
    background: #fff;
    margin-bottom: 5px;
}

.area_other .textnote {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.textcode {
    color: #288ad6 !important;
    cursor: pointer;
    text-align: right;
}

.new-follow .payoffline.full {
    width: 66%;
    margin-left: 18%;
    padding: 15px 0px;
}

.new-follow .choosepayment a {
    margin-bottom: 10px;
    text-decoration: none;
}

.payoffline.full {
    width: 90%;
}

.payoffline {
    float: left;
    overflow: hidden;
    width: 260px;
    padding: 9px 0;
    margin: 10px 0 20px 30px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fd6e1d), to(#f59000));
    background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
    background: -moz-linear-gradient(top, #f59000, #fd6e1d);
    background: -ms-linear-gradient(top, #f59000, #fd6e1d);
    background: -o-linear-gradient(top, #f59000, #fd6e1d);
}

.new-follow p {
    margin-bottom: 15px;
}

.bar-top {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.buymore {
    float: left;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    font-size: 14px;
    color: #288ad6;
    padding: 15px 0 0 15px;
}

.yourcart {
    display: block;
    overflow: hidden;
    text-align: right;
    color: #333;
    line-height: 40px;
    padding-top: 15px;
}

.buymore:after {
    margin-left: 2px;
    border-width: 9px;
    border-right-color: #f0f0f0;
    top: 26px;
}

.buymore:before, .buymore:after {
    content: '';
    width: 0;
    height: 0;
    border-right: 7px solid #288ad6;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    left: 0;
    top: 28px;
}

.address input {
    display: block;
    padding: 9px 0;
    height: 40px;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 0 5px;
    text-indent: 10px;
    width: 99.6%;
}

.new-follow .choosepayment {
    overflow: hidden;
}

.listorder li .colimg button span:before {
    content: '';
    width: 2px;
    height: 8px;
    background: #fff;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.listorder li .colimg button span:after {
    content: '';
    width: 2px;
    height: 8px;
    background: #fff;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.listorder li .colimg button span:before, .listorder li .colimg button span:after {
    top: 2px;
    left: 5px;
}

/* Drop Down Styles
================================ */
div.drop-down {
    overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
    height: auto; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

div.drop-down span a {
    display: block;
    text-decoration: none;
    padding: 10px; /* Larger touch target area */
}

div.drop-down span {
    border-bottom: 1px solid #eee;
}

div.closed {
    height: 35px;
    margin-top: 5px;
}

div.drop-down span:first-child a:after {
    float: right;
    margin-left: -30px; /* Excessive -margin to bring link text back to center */
    margin-right: 5px;
}
#cars{
    font-size: 13px;
    padding-top: 0px;
}
.change{
    color: #288ad6;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    border-bottom: 1px dotted #288ad6;
    cursor: pointer;
}
#wrap-inner {
    background: #fff;
    margin: 30px auto 0 auto;
    padding-bottom: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}
