* {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial;
    font-size: 14px;
    color: #666;
}

#header {
    background: #FF9600;
}

#logo, #search, #cart {
    height: 98px;
}

#logo h1 {
    line-height: 98px;
}

#search input {
    margin-top: 30px;
    float: left;
}

#search input[type=text] {
    width: 300px;
    height: 35px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 12px;
    padding-left: 15px;
    margin-left: 30px;
}

#search input[type=submit] {
    height: 35px;
    background: #fff;
    padding: 0 15px;
    border: none;
    color: #ff9600;
    font-size: 12px;
}

@media (min-width: 768px) {
    .navbar-form .input-group .form-control,
    .navbar-form .input-group .input-group-btn {
        width: 100%;
    }
}

#cart {
    background: url('../img/home/cart.png') no-repeat center;
    color: #fff;
    line-height: 98px;
    font-weight: bold;
}

#cart a:first-child {
    color: #fff;
}

#cart a:last-child {
    margin-left: 55px;
    color: #ff6600;
}

@media (min-width: 960px) and (max-width: 1210px) {
    #cart a:first-child {
        color: #fff;
    }

    #cart a:last-child {
        margin-left: 40px;
        color: #ff6600;
    }
}

#body {
    margin-top: 15px;
}

/* #sidebar{
	padding-right: 11px;
padding-left: 12px;
} */
#menu {
    background: #fbfbfb;
    border: 1px solid #ddd;

}

.menu-item {
    list-style: none;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
}

.menu-item a {
    color: #666;
}

.menu-item:first-child {
    background: #f5f5f5;
    text-transform: uppercase;
}

.menu-item:last-child {
    border: none;
}

.banner-l-item {
    margin-top: 15px;
    max-width: 100%;
}

.banner-l-item img {
    border: none;
    padding: 0;
    border-radius: 0;
}

@media (min-width: 750px) and (max-width: 992px) {
    .menu-item:first-child {
        font-size: 12px;
        font-weight: bold;
    }

    .menu-item {
        font-size: 12px;
    }

    #banner-l-item img {
        min-width: 100%;
    }

}

.banner-t-item {
    margin-top: 15px;
}

.banner-t-item img {
    border: none;
    padding: 0;
    border-radius: 0;
}

#footer {
    margin-top: 15px;
}

#footer-t {
    background: #FF9600;
    color: #fff;
    padding: 15px 0 0 0;
}

#footer-t h3 {
    font-size: 18px;
    text-transform: capitalize;
}

#footer-b {
    background: #FF6700;
    color: #fff;
    font-size: 13px;
    position: relative;
}

#footer-b p {
    margin: 0;
    height: 100px;
    line-height: 100px;
}

#scroll {
    position: absolute;
    top: 0;
    right: 0;
}

/* reponsive */
@media (max-width: 992px) {
    #search {
        display: none;
    }

    #slider {
        display: none;
    }

    #cart {
        margin-left: 300px;
        background: url('../img/home/icon-cart.png') no-repeat center;
        color: #fff;
        line-height: 98px;
        font-weight: bold;
    }

    #cart a:first-child {
        margin-left: -70px;
        color: #fff;
    }

    #cart a:last-child {
        margin-left: 50px;
        color: #ff6600;
    }

    #menu {
        margin-bottom: 20px;
    }

    #footer-logo {
        text-align: left;
    }
}

@media (max-width: 768px) {
    #cart {
        display: none;
    }

    #header {
        text-align: center;
    }

    #scroll {
        display: none;
    }
}

nav a#pull {
    display: none;
}

@media only screen and (max-width: 480px) {
    nav {
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    #logo {
        position: relative;
    }

    nav a#pull {
        display: block;
        float: left;
        /* background-color: #ff9600; */
        /* width: 100%; */
        position: absolute;
        top: 50%;
    }

    nav a#pull:after {
        content: "";
        /* background: url('../img/home/nav.png') no-repeat; */
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        /* rightright: 15px; */
        top: 0px;
        right: 0;
    }

    #menu {
        border: 0;
    }
}

@media only screen and (max-width: 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }

    #menu {
        border: 0;
    }
}

.my-btn {
    color: #fff;
    border-radius: 0px;
    border-color: #ff9600;
    background: #ff9600;
}

.my-btn:last-child {
    background: #d9534f;
    border-color: #d43f3a;
}


.btn-danger {
    color: #fff;
    background-color: #ff9600;
    border-color: #fff;
}

.btn-danger:hover {
    color: #fff;
    background-color: #ff9600;
    border-color: #fff;
}

/* details */
#product-info h3 {
    margin-top: 15px;
    font-size: 24px;
    color: #ff9600;
    text-transform: uppercase;
}

#product-details {
    padding-left: 5%;
}

#product-details p {
    padding-bottom: 12px;
}

#product-details p:first-child {
    font-size: 18px;
}

#product-details p:last-child {
    height: 65px;
    line-height: 65px;
    padding: 0px;
    background: -webkit-linear-gradient(#fe0000, #d10000);
    background: -moz-linear-gradient(#fe0000, #d10000);
}

#product-details p:last-child a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: inherit;
    /* padding: 20px 60px; */
    /* width: 100%; */
}

#product-details p:last-child a:hover {
    text-decoration: none;
}

#product-details .price {
    color: #ce0000;
    font-size: 30px;
    font-weight: bold;
}

#product-detail h3 {
    margin-top: 15px;
    font-size: 24px;
    color: #ff9600;
    text-transform: uppercase;
}

#comment h3 {
    margin-top: 15px;
    font-size: 24px;
    color: #ff9600;
    text-transform: uppercase;
}

.form-control {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
    background: #ff9600;
    color: #fff;
}

.btn:hover {
    background: #ff9600;
}

.comment {
    padding: 0px;
}

#comment-list ul {
    border-bottom: 1px dotted #cdcdcd;
    padding-bottom: 10px;
}

#comment-list li {
    list-style: none;
    color: #666;
    line-height: 22px;
    font-size: 12px;
}

li.com-title {
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
}

li.com-title span {
    font-weight: normal;
    color: #999;
}

.comment-list {
    margin-top: 25px;
    text-align: justify;
}

/* end details */
/* slide */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*end slide*/
.edtCmt {
    border-radius: 4px;
    border: 1px solid #dadada;
}

.edtCmt textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dadada;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    box-sizing: border-box;
    line-height: 20px;
}

.iconcom-pict {
    background-position: -80px -25px;
    width: 18px;
    height: 16px;
    margin: 5px;
    background-image: url(//s.tgdd.vn/comment/Content/images/commentmobile@2x.png);
    background-size: 270px 128px;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.motionsend {
    display: block;
    overflow: hidden;
    padding: 5px;
}

.motionsend a.btnSend {
    padding: 13px 21px 28px 22px;
    height: 20px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #288ad6;
    border-radius: 4px;
    background: #288ad6;
    margin: 0;
    text-decoration: none;
}

.motionsend a {
    padding: 0 12px 0 5px;
    height: 20px;
    color: #4a90e2;
    font-size: 14px;
    border-right: 1px solid #dadada;
    display: inline-block;
    line-height: 20px;
}

.edtCmt .textarea {
    display: block;
    overflow: hidden;
    background: #fff;
    min-height: 100px !important;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 10px 1.5%;
    font-size: 14px;
    color: #333;
    outline: none;
    zoom: 1;
}

.cmt_right {
    float: right;
}

.cmt_right a {
    display: inline-block;
    padding: 4px 0 0;
    border: 0;
    font-size: 14px;
    color: #4a90e2;
    margin: 0;
    line-height: 20px;
}

.hide {
    display: none !important;
}

input[type=file] {
    display: inline;
}

#image_preview {
    padding: 10px;
    display: inline-block;
    position: relative;
}

#image_preview img {
    width: 200px;
    padding: 5px;
}

.modal-content {
    opacity: 1;
}




